
  p {
    color: yellow;
    font-style: oblique;
  }

  body {
    position:calc();
    background-image: url('https://www.psdgraphics.com/file/red-stage.jpg');
    background-size: calc();
    background-position: center;background-size: contain;
    text-align: center;
  }
  
  h2 {
    color: white;
    font-style: oblique;
  }
  p {
    color: yellow;
    font-style: oblique;
  }
button{
    background-color: black; 
    border: none;
    color: white;
    padding: 40px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    
}

vertical-canter {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}