body {
    background-image: url('https://thumbs.gfycat.com/ImpassionedDrearyAmericanbulldog-size_restricted.gif');
    background-size: cover;
    background-position: center;background-size: contain;
  }
  
  h2 {
    color: white;
    font-style: oblique;
  }
  p {
    color: yellow;
    font-style: oblique;
  }
