body {
    background-image: url('https://media1.giphy.com/media/26gYO4oCowW8bH0Ws/giphy.gif');
    background-size: cover;
    background-position: center;
    background-size: contain;
  }
  
  h2 {
    color: white;
    font-style: oblique;
  }
  p {
    color: yellow;
    font-style: oblique;
  }
